#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "hold-preferred";
    quick-tap-ms = <0>;
    tapping-term-ms = <1000>;
};

&lt {
    quick-tap-ms = <0>;
    tapping-term-ms = <1000>;
};

&sl { release-after-ms = <250>; };

/ {
    combos {
        compatible = "zmk,combos";

        BT0 {
            bindings = <&bt BT_SEL 0>;
            key-positions = <28>;
        };

        BT1 {
            bindings = <&bt BT_SEL 1>;
            key-positions = <28 23>;
        };

        BT2 {
            bindings = <&bt BT_SEL 2>;
            key-positions = <28 24>;
        };

        BT3 {
            bindings = <&none>;
            key-positions = <28 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        mkp_exit_AML: mkp_exit_AML {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &mkp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &mkp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&sl 4>;

            label = "MKP_EXIT_AML";
        };
    };

    behaviors {
        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            // 追加: スクロールのタップ時間を設定 (20ms)

            tap-ms = <20>;
        };

        multi_tap_tab_bspc: behavior_multi_tap {
            label = "MT_TAB_BSPC";
            #binding-cells = <0>;
            bindings = <&kp TAB>, <&kp BSPC>;

            max-taps = <2>;
            max-tap-interrupt-ms = <250>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q        &kp L         &kp U         &kp COMMA         &kp PERIOD                                          &kp F        &kp W  &kp R  &kp Y  &lt 5 P
&kp E        &kp I         &kp A         &kp O             &kp MINUS    &trans                  &kp LS(MINUS)   &kp K        &kp T  &kp N  &kp S  &kp H
&mt LSHFT Z  &kp X         &kp C         &kp V             &kp SLASH    &kp TAB                 &trans         &kp G        &kp D  &kp M  &kp J  &mt LSHFT B
&kp LCTRL    &kp LEFT_WIN  &kp LEFT_ALT  &lt 6 LANG_HANJA  &lt 2 SPACE  &lt 3 LANG_HANGEUL      &kp BACKSPACE  &lt 1 ENTER                       &kp DEL
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        SYMBOLS {
            bindings = <
&kp ESCAPE             &kp LS(N6)  &kp LS(SINGLE_QUOTE)  &kp LS(N8)        &kp LS(N9)                           &kp LS(N8)            &kp LS(N9)            &trans            &trans      &trans
&kp LS(EQUAL)          &kp LS(N4)  &kp LS(N5)            &kp EQUAL         &kp INT1         &trans      &trans  &kp LS(RIGHT_BRAKET)  &kp LS(NON_US_HASH)   &kp SEMICOLON     &kp LS(N7)  &kp INT3
&kp LS(LEFT_BRACKET)   &kp LS(N1)  &kp LEFT_BRACKET      &kp SLASH         &kp LS(SLASH)    &trans      &trans  &kp RIGHT_BRAKET      &kp NON_US_HASH       &kp SINGLE_QUOTE  &kp LS(N2)  &kp LS(INT3)
&trans                 &trans      &trans                &trans            &trans           &trans      &trans  &trans                                                                    &trans
            >;
        };

        NUM {
            bindings = <
&kp MINUS          &kp N7  &kp N8  &kp N9  &kp LS(SEMICOLON)                     &trans  &kp F7  &kp F8  &kp F9  &kp F10
&kp SLASH          &kp N4  &kp N5  &kp N6  &kp LS(SINGLE_QUOTE)     &trans       &trans  &trans  &kp F4  &kp F5  &kp F6  &kp F11
&mt LEFT_SHIFT N0  &kp N1  &kp N2  &kp N3  &kp PERIOD               &kp TAB      &trans  &trans  &kp F1  &kp F2  &kp F3  &kp F12
&trans             &trans  &trans  &trans  &trans                   &trans       &trans  &trans                          &kp F13
            >;
        };

        ARROW {
            bindings = <
&kp LG(LEFT_ARROW)  &kp LC(LS(TAB))         &kp UP_ARROW    &kp LC(TAB)              &kp LG(RIGHT_ARROW)                      &kp LG(LEFT_ARROW)  &kp LS(LC(TAB))         &kp UP_ARROW    &kp LC(TAB)              &kp LG(RIGHT_ARROW)
&kp HOME            &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END              &trans      &trans  &kp HOME            &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END
&kp LEFT_SHIFT      &kp LG(LC(LEFT_ARROW))  &trans          &kp LG(LC(RIGHT_ARROW))  &trans               &trans      &trans  &trans              &kp LC(LG(LEFT_ARROW))  &trans          &kp LC(LG(RIGHT_ARROW))  &trans
&trans              &trans                  &trans          &trans                   &trans               &trans      &trans  &trans                                                                               &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        MOUSE {
            bindings = <
&to_layer_0 Q  &to_layer_0 L  &to_layer_0 U  &to_layer_0 COMMA       &to_layer_0 PERIOD                                           &to_layer_0 F    &to_layer_0 W      &kp R              &to_layer_0 Y      &mo 5
&to_layer_0 E  &to_layer_0 I  &to_layer_0 A  &to_layer_0 O           &to_layer_0 MINUS   &trans                        &kp LC(V)  &kp LC(LS(TAB))  &mkp_exit_AML MB1  &mkp_exit_AML MB3  &mkp_exit_AML MB2  &kp LC(TAB)
&to_layer_0 Z  &to_layer_0 X  &to_layer_0 C  &to_layer_0 V           &to_layer_0 SLASH   &trans                        &kp LC(C)  &to_layer_0 G    &mkp MB4           &kp LC(W)          &mkp MB5           &trans
&trans         &trans         &trans         &to_layer_0 LANG_HANJA  &trans              &to_layer_0 LANG_HANGEUL      &trans     &trans                                                                    &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans              &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp_exit_AML LCLK  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans              &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                      &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans        &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };
    };
};
